div {
    width: 900px;
    background-color: rgba(166, 78, 255, 0.76);
    display: inline-block;
    font-family:;
}
title {
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
}